sudo: required

services:
  - docker

env:
  - RELEASES=2.2.0

language: bash
script:
# prepare qemu
- docker run --rm --privileged multiarch/qemu-user-static:register --reset
# build image
- docker build -t couchdb2-arm-debian 2.2.0
# test image
- docker run -t couchdb2-arm-debian -p 5984:5984 
- sleep 10 
- curl http://localhost:5984
- docker kill couchdb2-arm-debian
